@font-face {
  font-family: Montserrat Medium;
  src: url("../../../../assests/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat Bold;
  src: url("../../../../assests/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat Light;
  src: url("../../../../assests/Montserrat-Light.ttf");
}
@font-face {
	font-family: Montserrat Thin ;
	src: url('../../../../assests/Montserrat-Thin.ttf');
}
:root {
  --selection-color: #0c4db5;
  --non-selection-color: #979292;
  --background-color: #eeeeee;
  --secondary-color: #3e82ee;
  --primary-color: #ffffff;
  --dark-grey: #333333;
}
.mainbox {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 13vw;
  left: 24vw;
  width: 54vw;
  height: 25vw;
  border-radius: 0.5vw;
  box-shadow: 0.7vw 0.7vw 1.2vw #00000026;
  background-color: var(--primary-color);
  user-select: none;
  /* z-index: 2; */
}
.mainboxSigninContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 26vw;
  width: 28vw;
  height: 25vw;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.mainboxSigninContainerLeft {
  position: relative;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
}
.mainboxSigninContainerRight {
  position: relative;
  transform: translateX(-150%);
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  transition: all ease-in-out 0.3s;
}
.mainboxSigninHeader {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.7vw;
  font-family: Montserrat Bold;
  color: var(--secondary-color);
}
.mainboxSigninLabel {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 1.2vw;
  margin-top: 1vw;
  font-family: Montserrat thin;
  color: var(--secondary-color);
}
.mainboxcontainerSigninInputEmail {
  position: relative;
  display: flex;
  justify-content: center;
}
.mainboxSigninInputEmail {
  width: 19vw;
  padding: 0.5vw 1vw;
  font-family: Montserrat Medium;
  background-color: #e8e8e8;
  border-radius: 0.6vw;
}
#filled-hidden-label-normal {
  font-family: Montserrat Medium;
  font-size: 1vw;
}
.mainboxcontainerSigninButton {
  position: relative;
  display: flex;
  justify-content: center;
}

#mainboxSigninButton {
  width: 10vw;
  margin-top: 3vw;
  padding: 1vw 2vw;
  background-color: var(--secondary-color);
  font-family: Montserrat Bold;
  font-size: 1.2vw;
  color: var(--primary-color);
  border-radius: 1.4vw;
}

.mainboxSignupContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vw;
  width: 27vw;
  height: 22vw;
  overflow: hidden;
}

.mainboxSignupContainerRest {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vw;
  width: 27vw;
  height: 18vw;
  transition: all ease-in-out 0.3s;
}
.mainboxSignupContainerMove {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5vw;
  width: 27vw;
  height: 18vw;
  transform: translateX(-150%);
  transition: all ease-in-out 0.3s;
}
/*  */
.mainboxSignupLocationContainer {
  width: 27vw;
}
#mainboxSignupLocation {
  width: 27vw;
  display: flex;
  align-items: center;
  font-family: Montserrat Medium;
}

.mainboxSignupPincodeWardContainer {
  padding-top: 0.5vw;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 27vw;
}
.mainboxSignupTextFieldContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  /* margin-top: 1vw; */
  width: 12vw;
}
.mainboxSignupTextFieldContainerButton {
  display: flex;
  flex-direction: row;
}
.SignupEmailContainer,
.SignupPhoneContainer,
.SignupNameContainer,
.SignupAddressContainer {
  width: 27vw;
  display: flex;
  flex-direction: column;
}

#mainboxSignupLabelLocation,
#mainboxSignupLabelPincode,
#mainboxSignupLabelWard,
#mainboxSignupLabelEmail,
#mainboxSignupLabelPhone,
#mainboxSignupLabelName,
#mainboxSignupLabelAddress,
#mainboxSignupLabelReqFile {
  align-items: center;
  background-color: var(--primary-color);
  font-family: Montserrat Medium;
  font-weight: 400;
  font-size: 1vw;
}
#mainboxSignupPincode,
#mainboxSignupWard {
  position: relative;
  width: 10vw;
  font-family: Montserrat Medium;
  font-size: 1vw;
}
#mainboxSignupEmail,
#mainboxSignupPhone,
#mainboxSignupName {
  position: relative;
  width: 20vw;
  font-family: Montserrat Medium;
  font-size: 1vw;
}
#mainboxSignupAddress {
  position: relative;
  width: 27vw;
  font-family: Montserrat Medium;
  font-size: 1vw;
}

.mainboxChargeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0.5vw;
  /* background-color: red; */
}
.mainboxChargeLabel {
  position: relative;
  display: flex;
  align-items: center;
  width: 12vw;
  font-family: Montserrat Medium;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1vw;
}

.mainboxSignupPhoneVerifyContainer {
  position: absolute;
  right: 3%;
  top: 20%;
  padding-left: 0.5vw;
  border-left: 0.1px solid rgba(0, 0, 0, 0.5);
}
.mainboxSignupEmailVerifyContainer {
  position: absolute;
  right: 3%;
  top: 20%;
  padding-left: 0.6vw;
  padding-right: 0.2vw;
  border-left: 0.1px solid rgba(0, 0, 0, 0.5);
}
#mainboxSignupPhoneVerify,
#mainboxSignupEmailVerify {
  align-items: center;
  background-color: var(--primary-color);
  font-family: Montserrat Medium;
  font-size: 0.9vw;
  color: var(--secondary-color);
}
.mainboxSignupTextFieldContainerWithButton {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 27vw;
  margin-top: 0.5vw;
}

.mainboxReqFileButtonContiainer,
.mainboxSignupReqFileContainer {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
#mainboxSignupReqFile {
  width: 20vw;
}
#mainboxReqFileButton {
  width: 3vw;
  height: 3vw;
  border-radius: 0.5vw;
  color: var(--primary-color);
  background-color: var(--secondary-color);
}
.mainboxSignupReqFileLog{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    background:opacity 0;
    font-family:Montserrat Thin;
    font-size: 1vw;
    color:var(--primary-color);
    height: 3vw;
    padding:0vw 1vw;
    border-radius: 0.3vw;
    margin-top: 0.5vw;
}
.mainboxButtonContainer {
  position: relative;
  display: flex;
  flex-direction: row;
  width: 27vw;
  justify-content: space-between;
}

.mainboxContinueButtonContainer {
  position: relative;
  display: flex;
  /* background-color: red; */
  /* padding-top: 3vw; */
}

#mainboxContinueButton,
#mainboxBackButton {
  width: 9vw;
  padding: 1vw 1.2vw;
  align-items: center;
  background-color: var(--secondary-color);
  font-family: Montserrat Bold;
  font-size: 1vw;
  color: var(--primary-color);
  border-radius: 1vw;
}

#mainboxBackButtonTransparent {
  width: 9vw;
  padding: 1vw 1.2vw;
  align-items: center;
  background-color: transparent;
  font-family: Montserrat Bold;
  font-size: 1vw;
  color: transparent;
  border-radius: 1vw;
}
