.ParticlesCircles {
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -4;
}

.mainBackground {
  background: url("../assets/img/background.png");
  background-repeat: no-repeat;
  position: absolute;
  
  width: 100vw;
  height: 100vh;
}
