@font-face {
  font-family: Montserrat Medium;
  src: url("../../../../../assests/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat Bold;
  src: url("../../../../../assests/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat Light;
  src: url("../../../../../assests/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat Thin;
  src: url("../../../../../assests/Montserrat-Thin.ttf");
}

.ContainerStyle {
  width: 18vw;
  height: 3vw;
  padding: 0;
  /* padding-left: 1.2vw; */
  display: flex;
  justify-content: center;
  align-items: center;
}
.ContainerInputStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4vw;
  height: 10vw;
  background-color:rgba(255, 255, 255, 0.3);
  border: 0px;
  border-radius: 0.5vw;
  outline: 0;
  font-family: Montserrat Medium;
  font-size: 1.5vw;
  color: #FFFFFF;
  
}
.ContainerInputStyle :focus-visible{
  outline: 1px solid white;
}
.OTP{
  position: relative;
  justify-content: center;
}