@font-face {
  font-family: Montserrat Medium;
  src: url("/src/assests/Montserrat-Medium.ttf");
}
@font-face {
  font-family: Montserrat Bold;
  src: url("/src/assests/Montserrat-Bold.ttf");
}
@font-face {
  font-family: Montserrat Light;
  src: url("/src/assests/Montserrat-Light.ttf");
}
@font-face {
  font-family: Montserrat Thin;
  src: url("/src/assests/Montserrat-Thin.ttf");
}

:root{
	--selection-color: #0C4DB5;
	--non-selection-color: #979292;
	--background-color: #EEEEEE;
	--secondary-color: #3E82EE;
	--primary-color: #FFFFFF;
	--dark-grey: #333333;
}

.sliderleft{
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  top:8.7vw;
  left:24vw;
  background-color: var(--secondary-color);
  border-radius: 0.3vw;
  width: 23vw;
  height: 34vw;
  border-radius: 2.8vw;
  z-index: 1;
  overflow-x: hidden;
  transition: all ease-in-out 0.3s;
}
.sliderright{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top:8.7vw;
  left:56vw;
  background-color: var(--secondary-color);
  border-radius: 0.3vw;
  width: 23vw;
  height: 34vw;
  border-radius: 2.8vw;
  z-index: 1;
  overflow-x: hidden;
  transition: all ease-in-out 0.3s;
}


.sliderSigninContainerLeft{
  position: absolute;
  display: flex;
  height: 25vw;
  flex-direction: column;
  align-items: center;
  transition: all ease-in-out 0.3s;
  /* background-color: red; */
} 

.sliderSigninContainerRight{
  position: absolute;
  display: flex;
  transform: translateX(-250%);
  height: 25vw;
  flex-direction: column;
  align-items: center;
  transition: all ease-in-out 0.3s;
  /* background-color: red; */
} 

.sliderSigninMainContainer{
  margin-bottom: 2.5vw;
}
.sliderSigninHeading{
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-family: Montserrat Medium;
  font-size: 2vw;
}
.sliderSigninMain{
  display: flex;
  justify-content: center;
  height:2vw;
  margin: 0vw;
  color: var(--primary-color);
  font-family: Montserrat Thin;
  font-size: 1.5vw;
  font-weight: 100;
}
.sliderSigninFocused{
  font-family: Montserrat Medium;
}
#SignupButton{
  font-family: Montserrat Bold;
  font-size: 1.4vw;
  color: var(--primary-color);
  border-radius: 2vw;
  border: 0.1vw solid white;
  padding: 0.7vw 2vw; 
  margin-top: 3vw;
}



.sliderSignupContainerLeft{
  position: absolute;
  display: flex;
  transform: translateX(300%);
  height: 25vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.3s;
  /* background-color: red; */
} 

.sliderSignupContainerRight{
  position: absolute;
  display: flex;
  height: 25vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  transition: all ease-in-out 0.3s;
  /* background-color: red; */
} 

.sliderSignupMainContainer{
  margin-bottom: 2.5vw;
}

.sliderSignupHeading{
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-family: Montserrat Medium;
  font-size: 2vw;
}
.sliderSignupHeadingMove{
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-color);
  font-family: Montserrat Medium;
  font-size: 2vw;
  transform: translateY(-100%);
}
.sliderSignupMain{
  display: flex;
  justify-content: center;
  height:2vw;
  margin: 0vw;
  color: var(--primary-color);
  font-family: Montserrat Thin;
  font-size: 1.5vw;
  font-weight: 100;
}
.sliderSignupFocused{
  font-family: Montserrat Medium;
}
.containerSignupButton{
  display: flex;
  justify-content: center;
}
#SigninButton{
  font-family: Montserrat Bold;
  font-size: 1.4vw;
  color: var(--primary-color);
  border-radius: 2vw;
  border: 0.1vw solid white;
  padding: 0.7vw 2vw; 
  margin-top: 3vw;
}
